* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body rules*/

body {
    background-color: rgb(246, 248, 250);
    font-family: "Inter", sans-serif;
}

/*utility rules*/

/*header rules*/

.header-bar .header-title {
    display: inline;
    vertical-align: middle;
}

.header-bar .logo {
    vertical-align: middle;
}

.header-bar {
    height: 75px;
    line-height: 75px;
    background-color: white;
    padding-left: 20px;
}

/*central body rules*/

.central-body {
    background-color: white;
    width: 550px;
    margin: 0 auto;
    margin-top: 30px;

}

/*button  rules*/

.button {
    padding-left: 30px;
    padding-top: 10px;
}

#task-button {
    background-color: rgb(74, 170, 235);
    border-radius: 5px;
    color: white;
    border-color: white;
    font-size: 10px;
    padding: 0px 0px;
    height: 35px;
    width: 75px;
}

#section-button {
    background-color: white;
    color: gray;
    border-radius: 5px;
    border-color: gray;
    font-size: 10px;
    padding: 0px 0px;
    height: 35px;
    width: 100px;
}

/*un-ordered-list rules*/

.main-list {
    padding-left: 50px;
    padding-top: 40px;
    line-height: 40px;
}

.custom-bullet-down {
    list-style-type: disclosure-open;
}

.green-check { 
    color: green;
    border: solid 2px green;
    border-radius: 50%;
}

.red-cross { 
    color: red;
    border: solid 2px red;
    border-radius: 50%;
}

.secondary-list {
    padding-left: 0px;
    list-style-type: none;
}

.editorial {
    background-color: rgb(75, 169, 230);
    border-radius: 7px;
    color: white;
}

.prova {
    background-color: rgb(156, 125, 219);
    border-radius: 7px;
    color: white;
}

.q1-goals {
    font-size: 5px;
}

.recruiting {
    background-color: rgb(100, 193, 169);
    border-radius: 7px;
    color: white;
}